
body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  text-align: center;
  color: #515076;
}

.products-list {
  list-style: 0;
  padding: 0;
  margin: 0;
  background-color: #F7F7FA;
  width: 340px;}

  .description {
  color: #515076;
  margin: 0;
  padding: 0 25px;
  padding-bottom: 10px;
}

.compound {
  padding-bottom: 25px;
}

.price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 25px;
}

.price-two {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 25px;
}

.images {
  padding: 25px;
}

.normal-skin {
  color: #A5A3B9;
  font-size: 12;
  line-height: 24px;
  margin: 0;
  padding: 0 25px;}

.title-two {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  margin: 0;
  padding: 0 25px;
  padding-bottom: 10px;
}

