@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container {
  width: 1110px;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #515076;
}

.catalog__container {
background-image: url(/images/dandelions.png);
background-repeat: no-repeat;
background-position: 790 697;
padding-top: 170px;
}

.catalog__title {
  margin-bottom: 110px;
  margin-top: 50px;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  text-align: center;
  padding-bottom: 110px;
  padding-top: 220px;
}

.bg-dandelions {
  position: absolute;
  width: 790px;
  height: 697px;
  z-index: -1;
  left: 0;
  top: -410px;
  padding-top: 1px;
}

.card {
 background-color: #f7f7fa;
 padding: 25px;
 width: 100%;
}

.card__images {
display: block;
margin-bottom: 32px;
}

.card__description {
  color: #A5A3B9;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
}

.card__normal-skin {
  color: #A5A3B9;
  text-transform: uppercase;
}

.card__title-two {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.card__product-price {
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
}

.product-list__product-item {
 width: 340px;
}

.compound {
  margin-top: 10px;
}
